<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- Configuracion para el SACTA-MODULE.  Quitar cuando se traslade este servicio a MTTO -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sacta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="SactaUsuarioSection">
      <section name="settings" type="SactaSectionHandler.SactaUsuarioSettingsConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="listaPSI" type="SactaSectionHandler.SactaUsuarioListaPsiConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="sectores" type="SactaSectionHandler.SactaUsuarioSectoresConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="SactaCentroSection">
      <section name="settings" type="SactaSectionHandler.SactaCentroConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="SactaDominioSection">
      <section name="settings" type="SactaSectionHandler.SactaDominioConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="SactaUdpSection">
      <section name="PuertosMulticast" type="SactaSectionHandler.SactaMulticastConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="IpMulticast" type="SactaSectionHandler.SactaIpMulticastConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="IpAddress" type="SactaSectionHandler.SactaIpAddressConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="SactaTimeOuts">
      <section name="Tiempos" type="SactaSectionHandler.SactaTimeoutsConfigurationHandler" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <!-- Fin Configuracion SACTA -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!-- Configuracion para el SACTA-MODULE.  Quitar cuando se traslade este servicio a MTTO -->
  <SactaUsuarioSection>
    <settings Origen="10" Grupo="110"/>
    <listaPSI idSpsi="111,112,113,114,7286,7287,7288,7289" idSpv="86,87,88,89,7266,7267,7268,7269"/>
    <sectores idSectores=""/>
  </SactaUsuarioSection>
  <SactaCentroSection>
    <settings Origen="107" Destino="107"/>
  </SactaCentroSection>
  <SactaDominioSection>
    <settings Origen="1" Destino="1"/>
  </SactaDominioSection>
  <SactaUdpSection>
    <PuertosMulticast PuertoOrigen="19204" PuertoDestino="15100"/>
    <IpMulticast RedA="225.12.101.1" RedB="225.212.101.1" Interfaz="192.168.110.149"/>
    <IpAddress IpRedA="192.168.110.150" IpRedB="127.0.0.1"/>
  </SactaUdpSection>
  <SactaTimeOuts>
    <Tiempos Presencia="5000" TimeOutActividad="30000"/>
  </SactaTimeOuts>
  <applicationSettings>
    <Sacta.Properties.Settings>
      <!-- En desarrollo, -->
      <setting name="Sacta_Ref_Service_ServiciosCD40" serializeAs="String">
        <value>http://localhost:63024/Servicios/Service.asmx</value>
        <!-- En EXPLOTACIÓN, Se debe configurar con La URL indicada sustituyendo dirIPCluster por la dirección IP pública del cluster      
      <value>http://dirIPCluster/NucleoDF/U5kCfg/Servicios/Service.asmx</value>      
      -->
      </setting>
    </Sacta.Properties.Settings>
  </applicationSettings>
  <!-- Fin Configuracion SACTA -->

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="ConexionBaseDatosCD40" connectionString="Server=localhost;Database=new_cd40_trans;Uid=root;Pwd=cd40;"/>
    <add name="ConexionBaseDatosCD30" connectionString="Server=localhost;Database=cd30;User=cd30; Password=#picd30#;"/>
  </connectionStrings>

  <appSettings>
    <!--  Servicio 'ServicioInterfazSacta' -->
    <add key="Sistema" value="departamento"/>
    <add key="OrigenIp" value="192.168.110.149"/>
    <!-- Servicio 'SincronizaCD30'  -->
    <add key="SincronizaCD30" value="1"/>
  </appSettings>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <!--threshold value="OFF" /-->
      <param name="File" value="LogCD40Errores.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="DebugViewAppender" type="log4net.Appender.OutputDebugStringAppender">
      <!--threshold value="OFF" /-->
      <layout type="log4net.Layout.PatternLayout">
        <!--param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" /-->
        <param name="ConversionPattern" value="%date [%thread] %-5p %c %m%n"/>
      </layout>
    </appender>
    <!--appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\TestProj\\TestLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender-->
    <!--root>
      <level value="INFO" />
      <appender-ref ref="DebugViewAppender" />
      <level value="ERROR" />
      <appender-ref ref="LogFileAppender" />
    </root-->
    <logger name="File">
      <level value="ERROR"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>
    <logger name="DebugView">
      <level value="ALL"/>
      <appender-ref ref="DebugViewAppender"/>
    </logger>
    <logger name="BDCD40">
      <level value="ALL"/>
      <appender-ref ref="DebugViewAppender"/>
    </logger>
    <logger name="SincroCD30">
      <level value="ALL"/>
      <appender-ref ref="DebugViewAppender"/>
    </logger>
  </log4net>

</configuration>
